.buyer-sidebar.page-sidebar{
	width: 330px !important;
	position: relative;
	float: left;
	margin-right: -100%;
	padding-left: 0px;
}
.buyer-sidebar.page-sidebar [data-toggle=buttons].btn-group .btn input[type=radio]{
	position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
.buyer-sidebar.page-sidebar .split{
	margin-bottom: 24px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dadada;
}
.buyer-sidebar.page-sidebar .section .title{
	font-family: 'Thasadith-Bold';
	font-size: 16px;
}
.buyer-sidebar.page-sidebar .target-tree{
	padding: 24px;
}
.buyer-sidebar.page-sidebar .target-tree .image{
	text-align: center;
	width: 100%;
}
.buyer-sidebar.page-sidebar .target-tree .image img{
	width: 120px;
	height: 120px;
}
.buyer-sidebar.page-sidebar .target-tree .dial{
	width: 60px;
	margin: 2px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	text-align: center;
}
.buyer-sidebar.page-sidebar .target-tree .dial input{
	color:black !important;
}
.buyer-sidebar.page-sidebar .target-tree .dial i{
	color: #fac917;
    position: absolute;
    top: 23px;
    right: 10px;
    font-size: 14px;
}
.buyer-sidebar.page-sidebar .section .btn-group{
	border-bottom: 0.5px solid #dadada;
}
.buyer-sidebar.page-sidebar .section .btn-group label{
	font-size: 16px !important;
	font-family: "Thasadith-Bold";
	width: 100%;
	text-align: unset;
	padding-top:17px;
	padding-bottom: 17px;
    border-top: 0.5px solid #dadada;
    border-right:0;
    border-bottom:0;
    border-radius: 0 !important;
}
.buyer-sidebar.page-sidebar .section .btn-group label i{
	margin-left: 30px;
	margin-right: 10px;
	font-size: 16px;
}
.buyer-sidebar.page-sidebar .section .btn-group label.active{
	border-left: 5px solid #2ab7c9;
	background-color: #f1f6f9 !important;
	font-size:16px !important;
}

.buyer-sidebar.page-sidebar .target-tree .image .buyer-name {
	font-family: "Coves-Bold";
	font-size: 24px;
}
.buyer-sidebar.page-sidebar .target-tree .image .buyer-mail {
	font-family: "Thasadith-Bold";
	font-size: 13px;
}
@media(max-width: 992px){
	.buyer-sidebar.page-sidebar{
		display: none;
	}
}