.search_page {
  /* mobile */
}
.search_page .page-navbar {
  position: relative;
  background-color: #f3f3f3;
  border-top: 1px solid #dadada;
  display: flex;
}
.search_page .page-navbar-content {
  margin: 0px auto;
  list-style: none;
  display: inline-flex;
  padding: 0px;
}
.search_page .page-navbar-content label {
  height: 40px;
  background-color: unset;
  border: none;
}
.search_page .page-container {
  margin: 20px 2%;
  padding: 0;
  font-family: "Thasadith-Regular";
  font-weight: 900;
}
.search_page .page-container a {
  color: black;
  text-decoration: none;
}
.search_page .page-container .page-bar {
  width: 100%;
  border-bottom: 1px solid #dadada;
  padding-bottom: 5px;
  padding-top: 5px;
}
.search_page .sort-by {
  text-align: right;
}
.search_page .sort-by .grey {
  color: #888;
  vertical-align: middle;
}
.search_page .page-content {
  width: 100%;
}
.search_page .page-sidebar {
  width: 270px;
  position: relative;
  float: left;
  margin-right: -100%;
  padding-left: 0px;
}
.search_page .page-sidebar .split {
  margin-bottom: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dadada;
}
.search_page .page-sidebar .section .title {
  font-family: "Thasadith-Bold";
  font-size: 16px;
}
.search_page .sub-menu {
  padding-left: 0px;
  list-style: none;
  font-size: 16px;
}
.search_page .sub-menu li {
  margin-top: 12px;
  font-family: "Thasadith-Bold";
}
.search_page .sub-menu .sub-menu {
  padding-left: 30px;
  font-size: 14px;
}
.search_page .sub-menu .sub-menu li {
  margin-top: 6px;
  font-family: "Thasadith-Regular";
}
.search_page .sub-menu label {
  margin-right: 12px;
}
.search_page .sub-menu > li.active > div > a {
  color: #2ab7c9;
}
.search_page .features {
  margin: 9px 0;
}
.search_page .sub-title {
  font-family: "Thasadith-Bold";
}
.search_page .features > * {
  margin: 6px 0px;
}
.search_page .danaza-input-full {
  font-family: "Thasadith-Bold";
  height: 40px;
  width: 100%;
  border-radius: 5px !important;
  border: 1px solid #dadada;
  padding-left: 12px;
}
.search_page .danaza-input-small {
  font-family: "Thasadith-Bold";
  height: 40px;
  width: 85px;
  border-radius: 5px !important;
  border: 1px solid #dadada;
  padding-left: 15px;
}
.search_page .results .item {
  border-radius: 8px !important;
  background-color: #ffd766;
  padding-left: 8px;
  padding-right: 7px;
  font-family: "Thasadith-Bold";
  font-size: 11px;
  height: 16px;
  width: fit-content;
  margin-right: 6px;
  display: inline-table;
}
.search_page .results .item span {
  margin-right: 10px;
}
.search_page .feature-slider {
  width: 100%;
  margin-top: 18px;
  padding-right: 12px;
  padding-left: 12px;
}
.search_page .dark-grey {
  margin-top: 13px;
  color: #4b4b4b;
}
.search_page .right {
  float: right;
}
.search_page .content {
  margin-top: 5px;
}
.search_page .price-range {
  margin-top: 15px;
}
.search_page .price-range label {
  width: 33px;
  text-align: center;
  color: #4b4b4b;
}
.search_page .price-range .btn {
  width: 55px;
  height: 40px;
  font-family: "Thasadith-Bold";
  border-radius: 5px !important;
  background-color: #ffd766;
  float: right;
  font-size: 16px;
  padding:0;
}
.search_page .price-form {
  display: -webkit-inline-box;
  margin-left: -8px;
}
.search_page .price-form div {
  top: 10px;
  position: relative;
  left: 13px;
  height: 1px;
}
.search_page .datetime {
  position: relative;
  margin-top: 15px;
}
.search_page .datetime div.react-datepicker-wrapper, .search_page .datetime div.react-datepicker-wrapper div{
  width: 100%;
  z-index: 2;
  background: transparent;
}
.search_page .datetime .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
  margin: 1.066rem;
  font-size: 12px;
}
.search_page .datetime input {
  padding-top: 8px;
  padding-bottom: 10px;
  height: 40px;
  width: 100%;
  padding-left: 45px;
  border-radius: 5px !important;
  border: 1px solid #dadada;
  text-align: unset !important;
  background: transparent;
}
.search_page .datetime img {
  position: absolute;
  top: 11px;
  left: 18px;
}
.search_page .datetime .bs-caret {
  position: absolute;
  top: 9px;
  right: 15px;
}
.search_page .average-rating {
  display: grid;
}
.search_page .average-rating label {
  width: 70px;
}
.search_page .average-rating div {
  margin-right: 10px !important;
}
.search_page .average-rating i {
  margin-left: 6px !important;
  color: #fac917;
  float: right;
  padding-top: 2px;
}
.search_page .average-rating span {
  float: right;
}
.search_page .page-result {
  margin-left: 270px;
  position: relative;
}
.search_page .page-result-header {
  width: 100%;
  position: relative;
  padding: 0 0 0 30px;
  font-size: 16px;
}
.search_page .page-result-header .search_keyword{
  font-family: "Thasadith-Bold";
}
.search_page .page-result-header li {
  color: #2ab7c9;
  font-family: "Thasadith-Bold";
  display: inline-block;
}
.search_page .page-result-header li i {
  font-size: 9px;
}
.search_page .page-result-content.row {
  position: relative;
  width: 100%;
  margin: 0px;
}
.search_page .page-result-content.row > div{
  padding-right: 0;
  padding-left: 30px;
}
.search_page .page-result-content .item {
  margin: 18px auto;
  width: 100%;
  border-radius: 10px !important;
  border: 1px solid #dadada;
  position: relative;
  box-shadow: 0px 1px 9px 3px #dddddd;
}
.search_page .page-result-content .item.active {
  border: 2px solid #2ab7c9;
}
.search_page .page-result-content .item .item-header {
  padding: 15px;
  top: 0;
  width: 100%;
}
.search_page .page-result-content .item .item-footer {
  padding: 3.99% 20px;
  width: 100%;
}
.search_page .page-result-content .item .item-header .sites img {
  margin-right: 4px;
}
.search_page .page-result-content .item .reach span {
  font-family: "Thasadith-Bold";
}
.search_page .page-result-content .item .reach i {
  color: #4b4b4b;
  margin-right: 10px;
}
.search_page .page-result-content .item .reach {
  margin-bottom: 3.99%;
}
.search_page .page-result-content .item .rating span {
  color: #9a9a9a;
  font-family: "Thasadith-Bold";
}
.search_page .page-result-content .item .rating i {
  color: #fac917;
  margin-right: 10px;
}
.search_page .page-result-content .item .rating {
  margin-bottom: 3.99%;
}
.search_page .page-result-content .item .price {
  position: relative;
}
.search_page .page-result-content .item .price .value {
  margin-left: 5px;
  font-family: "Thasadith-Bold";
}
.search_page .page-result-content .item .price a {
  position: absolute;
  color: #4b4b4b;
  right: 0px;
  font-size: 28px;
  line-height: 0.5;
}
.search_page .price span.small {
  color: #4b4b4b;
  font-size: 11px;
}
.search_page .page-result-content .item .title {
  font-size: 16px;
  font-family: "Thasadith-Bold";
  margin-bottom: 2.5%;
}
.search_page .page-result-content .item .item-image {
  border-top: 1px solid #cebcad;
  border-bottom: 1px solid #cebcad;
  width: 100%;
}
.search_page .page-result-content .item .item-image img {
  width: 100%;
}
.search_page .page-result-content .item .btn-type {
  border-radius: 100px !important;
  padding: 0px 10px;
  font-size: 11px;
  color: white;
  border: none;
  margin-right: 6px;
}
.search_page .page-result-content .item .keywords {
  display: flex;
  overflow: hidden;
  position: relative;
  margin-top: 2.5%;
  min-height: 17px;
}
.search_page .page-result-content .item .hide-end {
  position: absolute;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  right: -1px;
}
.search_page .btn-food {
  background-color: #eeb0a0;
}
.search_page .btn-topchef {
  background-color: #ff9865;
}
.search_page .btn-millenials {
  background-color: #f3b4b3;
}
.search_page .btn-marketing {
  background-color: #c9aedf;
}
.search_page .btn-website {
  background-color: #ffd766;
}
.search_page .btn-restaurant {
  background-color: #96dab0;
}
.search_page .btn-miami {
  background-color: #96b8da;
}
.search_page .btn-sports {
  background-color: #ea8891;
}
.search_page .btn-technology {
  background-color: #99cccc;
}
.search_page .pagination {
  padding: 70px;
  font-family: "Thasadith-Bold";
  text-align: center;
}
.search_page .pagination .btn {
  border-radius: 5px !important;
  width: 43px;
  height: 40px;
  margin-right: 10px;
  padding: 7px;
}
.search_page .pagination label {
  border: none;
}

/* select style */

@media (min-width: 1230px) {
  .search_page .page-result-content .item .title {
    font-size: 1.4vw;
  }
  .search_page .page-result-content .item .sites img {
    width: 1vw;
  }
  .search_page .page-result-content .item .keywords a {
    font-size: 0.9vw;
  }
  .search_page .page-result-content .item .item-footer {
    font-size: 1.2vw;
  }
  .search_page .price span.small {
    color: #4b4b4b;
    font-size: 1vw;
  }
  .search_page .page-result-content .item .price a {
    font-size: 2.8vw;
  }
}
@media (max-width: 1229px) {
  .search_page .header_section .nav_bar .search-input {
    display: none;
  }
  .search_page .header_section .nav_bar .search-but {
    width: 100px !important;
    border-radius: 5px !important;
  }
  .search_page .page-result-content .item .title {
    font-size: 1.3vw;
  }
  .search_page .page-result-content .item .sites img {
    width: 1vw;
  }
  .search_page .page-result-content .item .keywords a {
    font-size: 1vw;
  }
  .search_page .page-result-content .item .item-footer {
    font-size: 1.3vw;
  }
  .search_page .price span.small {
    color: #4b4b4b;
    font-size: 1vw;
  }
  .search_page .page-result-content .item .price a {
    font-size: 2.5vw;
  }
}
@media (max-width: 992px) {
  .search_page .page-result-content .item .title {
    font-size: 2vw;
  }
  .search_page .page-result-content .item .sites img {
    width: 1.5vw;
  }
  .search_page .page-result-content .item .keywords a {
    font-size: 1.5vw;
  }
  .search_page .page-result-content .item .item-footer {
    font-size: 2vw;
  }
  .search_page .price span.small {
    color: #4b4b4b;
    font-size: 1.5vw;
  }
  .search_page .page-result-content .item .price a {
    font-size: 2.5vw;
  }
}
@media (max-width: 768px) {
  .search_page .page-sidebar {
    display: none;
  }
  .search_page .page-result {
    margin: 0px;
  }
  .search_page .page-result-content .item .title {
    font-size: 40px;
  }
  .search_page .page-result-content .item .sites img {
    width: 30px;
  }
  .search_page .page-result-content .item .keywords a {
    font-size: 28px;
  }
  .search_page .page-result-content .item .item-footer {
    font-size: 30px;
  }
  .search_page .price span.small {
    color: #4b4b4b;
    font-size: 24px;
  }
  .search_page .page-result-content .item .price a {
    font-size: 50px;
  }
}

/*# sourceMappingURL=../Dananza_Search.css.map */