/* footer section start */
	.footer_section
	{
		background-color: #f1f6f9;
		
		font-family: "Thasadith-Regular";
		// font-size: 16px;
		font-size: 2rem;
		font-weight: 900;
		color: #000c20;
		.footer_info
		{
			padding: 70px 0px;
			margin: 0px 100px;
			.container
			{
				width: 100%;
			}
			.footer_info_title
			{
				font-family: "Thasadith-Bold";
				line-height: 32px;
			    text-transform: uppercase;
			    margin-bottom: 35px;
			}
			ul
		    {
		    	padding: 0px;
		    	li
		    	{
		    		list-style: none;
		    		margin-bottom: 20px;
		    	}
		    }
		}
		.footer_copyright
		{
			background-color: #e1eaf0;
			padding: 20px 115px;
		    display: flex;
			div
			{
				margin-right: 45px;
			}
			.social_icons
			{
				display: flex;
				div
				{
					margin-right: 15px;
					margin-top: -5px;
				}
				ul
				{
					display: flex;
					list-style: none;
					text-align: center;
					margin: 0 auto;
    				padding: 0;
					li
					{
						margin-left: 10px;
					}
				}
				.fa,
				{
					color: #000c20;
					width: 30px;
					height: 30px;
					text-align: center;
    				padding: 6px;
					border: 1px solid;
					border-radius: 15px;
					text-decoration: none;
				}
			}
		}
		@media (max-width: 767px)
		{
			.col-md-2 
			{
			    text-align: center;
			    margin-bottom: 50px;
			}
			.col-md-4
			{
				display: none;
			}
			.footer_info
			{
				padding-top: 50px;
				padding-bottom: 0px;
			}
			.footer_copyright
			{
				display: block;
				font-size: 1.5rem;
				text-align: center;
				div
				{
					margin: 0px;
					padding-bottom: 20px;
				}
			}
		}
	}
/* footer section end */