
.static_container .container {
    font-family: Thasadith-Bold;
}

.static_container .heroblog-help {
    background-image: url('../img/hero.png');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.static_container .hero {
    margin: 0;
    padding: 30px 0 80px;
}
.static_container .search-help{
    width: 40%;
    margin:0 auto;
    position: relative;
}
.search-help .fa{
    color: #ccc;
    position: absolute;
    margin: 17px 2px 4px 10px;
    z-index: 3;
    width: 16px;
    font-size: 16px;
    text-align: center;
    left: 0;
}
.search-help > input {
    width: 100%;
    height: 48px;
    border-radius: 6px !important;
    border:0px;
    padding:15px 35px 20px;
    line-height: 48px;
}
.search-help > input::placeholder{
    font-size: 16px;
    color: #000c20;
    vertical-align: middle;
}
.static_container .f-color {
    color: #2ab7c9;
}

.static_container .tab-bar {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f3f3f3;
}

.static_container .tab-bar > a {
    text-decoration: none;
    margin-right: 35px;
    cursor: hand;
}

.static_container .tab-bar > a:hover {
    padding-bottom: 9px;
    border-bottom: 5px solid #2ab7c9;
    color: #2ab7c9;
    text-decoration: none;
}

.static_container .content-body .info_title{
    padding: 70px 15px 30px;
}

.static_container .title {
    font-size: 32px;
    padding-top: 94px;
    padding-bottom: 50px;
}

.static_container .article {
    font-size: 16px;
    padding-bottom: 60px;
}
.static_container .article-section{
    margin-bottom: 30px; 
}

.static_container .article-section > ul {
    list-style-type: none;
    padding-left: 0px;
}

.static_container ul > li {
    margin-bottom: 5px;
}

.static_container li > i {
    font-size: 18px;
    color: #2ab7c9;
    padding-right: 5px;
}

.static_container .sub-title {
    font-size: 20px;
    margin-bottom: 25px;
}

.static_container .contact-us {
    margin-bottom: 140px;
}
.static_container .contact-us button{
    padding: 0 45px;
}
.static_container .help > h1 {
    font-size: 56px;
}
.about .content{
    padding-bottom:120px;
}
.about .content-body{
    width: 60%;
    margin:0 auto;
    padding-bottom: 90px;
}
.about .content-body p{
    font-size:16px;
    line-height: 30px;
    font-family: Thasadith-Regular;
    margin-bottom: 20px;
}
.about .content-body p.italic{
    font-size:22px;
    line-height: 36px;
    font-family: Thasadith-Italic;
}
.about .find_out{
    background-image: url('../img/about_find_out_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: middle;
    padding: 40px 80px;
    border-radius: 10px !important;
}
.about .find_out button{
    padding-left: 50px;
    padding-right: 50px;
}
@media (min-width: 767px) {
    .about .find_out{
        display: flex;
        align-items: center;
    }
}