.homepage_section {
  margin-top: 105px;
}
.homepage_section .info_title {
  font-family: "Coves-Bold";
  font-size: 36px;
  font-family: 900;
}
.homepage_section .info_content {
  font-family: "Thasadith-Regular";
  font-size: 16px;
  width: 75%;
  line-height: 32px;
}
.homepage_section button {
  padding: 0 50px;
}
.homepage_section .row {
  margin: 0px;
}
.homepage_section .row.heroblog .mk_adv_smp {
  font-family: "Coves-Bold";
  font-size: 6.5rem;
  font-weight: 900;
  padding-left: 140px;
}
.homepage_section .row.heroblog .mk_adv_smp div {
  font-family: "Thasadith-Bold";
  font-size: 22px;
  font-weight: 900;
  margin-top: 35px;
}
.homepage_section .row.heroblog .mk_adv_smp div.finding_best_ad{
  font-family: "Thasadith-Regular";
}
.homepage_section .row.heroblog .mk_adv_smp div select, .homepage_section .row.heroblog .mk_adv_smp div input {
  border-radius: 20px !important;
  border:1px solid #f3f3f3;
  width: 50%;
  height: 50px;
  padding: 20px;
  background: #f3f3f3;
}
.homepage_section .row.heroblog .mk_adv_smp div input {
  width: 70%;
  border: none;
}
.homepage_section .row.heroblog .mk_adv_smp div input::placeholder {
  font-size: 16px;
  color: #4b4b4b;
  vertical-align: middle;
}
.homepage_section .row.heroblog img {
  float: right;
  margin-right: -15px;
  margin-top: -213px;
  width: 85%;
}
.homepage_section .row.what_adza {
  margin: 9% 12% 9% 18%;
}
.homepage_section .row.what_adza .info_title {
  font-family: "Coves-Bold";
  font-size: 36px;
  font-family: 900;
}
.homepage_section .row.what_adza .info_content {
  font-family: "Thasadith-Regular";
  font-size: 16px;
  width: 75%;
  line-height: 32px;
}
.homepage_section .row.tell_reach {
  margin: 5% 7%;
}
.homepage_section .row.tell_reach .info_title .you {
  color: #2ab7f3;
}
.homepage_section .row.tell_reach .info_title .we {
  color: #fe4a49;
}
.homepage_section .row.tell_reach .info_content {
  width: 100%;
}
.homepage_section .row.tell_reach .img {
  text-align: center;
  padding-left: 10%;
  padding-top:60px;
}
.homepage_section .row.tell_reach .img img{
  max-width:100%;
}
.homepage_section .row.build_ad {
}
.homepage_section .row.build_ad .col-sm-2, .homepage_section .row.build_ad .col-sm-1 {
  text-align: center;
  font-family: "Thasadith-Bold";
  font-weight: 900;
  font-size: 16px;
}
.homepage_section .row.build_ad .info_title {
  text-align: center;
  line-height: 48px;
}
.homepage_section .row.build_ad .step {
  margin: 50px 0 50px 115px;
  overflow: hidden;
}
.homepage_section .row.build_ad .step img {
  margin-bottom: 15px;
}
.homepage_section .row.build_ad .step .arrow {
  background: url("../img/arrow.png") no-repeat 50% 50% !important;
  background-size: contain;
  height: 50px;
  margin: 10px auto;
}
.homepage_section .row.build_ad .step .vertical_arrow {
  background-size: contain;
  width: 50px;
  height: 50px;
  margin: 10px auto;
}
.homepage_section .row.build_ad .bg_img.col-sm-12 {
  text-align: center;
  margin-bottom: 50px;
}
.homepage_section .row.build_ad .bg_img.col-sm-12 img {
  width: 75%;
}
.homepage_section .row.rest {
  margin: 5% 7%;
}
.homepage_section .row.rest .info_content {
  line-height: 24px;
}
.homepage_section .row.rest .info_content .info_content_title {
  font-family: "Thasadith-Bold";
  font-size: 20px;
  font-weight: 900;
  margin-top: 55px;
}
.homepage_section .row.rest .info_content .info_content_title .fa {
  color: #2ab7c9;
  width: 25px;
  height: 25px;
}
.homepage_section .row.rest .img {
  text-align: center;
  padding: 8% 3% 3%;
}
.homepage_section .row.slider {
  position: relative;
}
.homepage_section .row.slider #leftControl,
.homepage_section .row.slider #rightControl {
  position: absolute;
  color: #848484;
  top: 300px;
  border-radius: 25px;
  background-color: white;
  width: 40px;
  height: 40px;
  margin: 30px;
}
.homepage_section .row.slider #rightControl {
  right: 0;
}
.homepage_section .row.slider #rightControl .fa {
  margin-top: 10px;
  margin-left: 15px;
}
.homepage_section .row.slider #leftControl .fa {
  margin-top: 10px;
  margin-left: 10px;
}
.homepage_section .row.slider #slideshow {
  width: 100%;
  overflow: hidden;
}
.homepage_section .row.slider .slide {
  position: relative;
}
.homepage_section .row.slider .slide .img_content {
  position: absolute;
  top: 160px;
  width: 34%;
  margin: 0 2% 0 50%;
}
.homepage_section .row.slider .slide .img_content .description {
  font-family: "Coves-Bold";
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 40px;
}
.homepage_section .row.slider .slide .img_content .auth {
  font-family: "Thasadith-Bold";
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 20px;
}
.homepage_section .row.slider .slide .slide_img {
  width: 100%;
  height: 100%;
}
.homepage_section .row.customer {
  margin-bottom: 70px;
}
.homepage_section .row.customer .info_title,
.homepage_section .row.customer .customer_link {
  text-align: center;
}
.homepage_section .row.customer .creat_act,
.homepage_section .row.customer .become_adza {
  text-decoration: none;
  padding: 0 30px;
  border-radius: 5px;
}
.homepage_section .row.customer .creat_act {
  margin-right: 30px;
}
@media (max-width: 1200px) {
  .homepage_section .mk_adv_smp {
    text-align: center;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
  }
  .homepage_section select, .homepage_section input {
    display: block;
    margin: 35px auto;
  }
  .homepage_section .heroblog img {
    margin-top: 5% !important;
    width: 80% !important;
  }
  .homepage_section .row.what_adza {
    margin: 80px 0px !important;
    text-align: center;
  }
  .homepage_section .row.what_adza .info_title {
    margin-top: 35px;
  }
  .homepage_section .row.what_adza .info_content {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .homepage_section .heroblog img {
    margin-right: -34px !important;
    margin-top: 5% !important;
    width: 50% !important;
  }
  .homepage_section .row.build_ad .step {
    margin-left: 0px !important;
  }
  .homepage_section .info_title {
    text-align: center;
  }
  .homepage_section .info_content {
    margin: 0 auto;
  }
  .homepage_section .homepage_section button {
    width: 65% !important;
  }
}

/*# sourceMappingURL=homepage.css.map */
