/** infoflowPage start **/
.header_section {
  margin-bottom: 0; }

.infoflowPage .cartPart .row {
  margin: 0px; }
.infoflowPage .cartPart .nav_flow.row {
  margin: 0;
  background-color: #f3f3f3; }
  .infoflowPage .cartPart .nav_flow.row ul {
    list-style: none;
    display: flex;
    line-height: 24px;
    padding: 20px 0;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    font-size: 15px; }
    .infoflowPage .cartPart .nav_flow.row ul li {
      color: #7f7f7f; }
      .infoflowPage .cartPart .nav_flow.row ul li .step_num {
        border-radius: 50%!important;
        width:27px; height:27px;line-height:27px;
        color: #ffffff;
        background-color: #7f7f7f;
        margin-right: 10px; 
        display: block; float:left;}
    .infoflowPage .cartPart .nav_flow.row ul .active {
      color: #fe4a49; }
      .infoflowPage .cartPart .nav_flow.row ul .active .step_num {
        background-color: #fe4a49; }
    .infoflowPage .cartPart .nav_flow.row ul .fa {
      font-size: 15px;
      color: #7f7f7f;
      margin: 0 17px; }
.infoflowPage .cartPart .cart_des {
  font-family: "Coves-Bold";
  font-size: 32px;
  line-height: 42px;
  width: fit-content;
  margin: 60px auto; }
.infoflowPage .cartPart .table_camp {
  width: 65%;
  margin: 0 auto; }
  .infoflowPage .cartPart .table_camp .table{
    font-family: Thasadith-Bold;
    border-bottom: 1px solid #e7ecf1;
    margin-bottom: 30px;
  }
  .infoflowPage .cartPart .table_camp .table thead tr {
    background: #f1f6f9; 
  }
  .infoflowPage .cartPart .table_camp .table thead tr th{
    padding: 14px;
  }
  .infoflowPage .cartPart .table_camp .table > tbody > tr > td {
    vertical-align: middle !important; }
  .infoflowPage .cartPart .table_camp button {
    padding: 0;
    background-color: #ffffff;
    font-size: 15px; }
  .infoflowPage .cartPart .table_camp .qty {
    display: flex; }
    .infoflowPage .cartPart .table_camp .qty .qty_value {
      margin-right: 10px;
      line-height: 40px; }
  .infoflowPage .cartPart .table_camp .ctrl_value {
    display: grid;
    padding-left: 5px; }
  .infoflowPage .cartPart .table_camp .total_value {
    font-size: 1.76vw; }
.infoflowPage .cartPart .proceed_chk .checkout {
  margin: 0 auto;
  width: fit-content; }
  .infoflowPage .cartPart .proceed_chk .checkout a {
    text-decoration: none;
    padding: 0 45px;
    }
.infoflowPage .cartPart .proceed_chk .note {
  font-family: "Thasadith-BoldItalic";
  line-height: 24px;
  font-size: 14px;
  width: 30%;
  margin: 40px auto 60px;
  text-align: center; 
  border: none;
}

/** infoflowPage end **/
